# ignore .idea and .vscode directories
.idea
.vscode

# ignore .env file
.env

# ignore build and dist directories
build
dist

# ignore node_modules directory
node_modules

# ignore pycache directories
__pycache__

# ignore egg-info directories
*.egg-info

# ignore coverage directories
htmlcov
coverage.xml
.coveragerc
.coverage

# ignore venv directory
venv

# ignore .git directory
.git

# ignore .gitignore itself
!.gitignore